
#info{
	background:#169aac;
	color: #fff;
	text-align: center;
	padding: 30px;
}

#info h2{
	padding: 15px;
	text-transform: uppercase;
}

#info .contenedor{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.info-pantalones{
	margin:20px;
}
.info-pantalones img{
	width: 180px;
	height: 180px;
	border-radius: 50%;
	border: 7px solid#0400ff;
}
/*-----------Responsive-----------*/
/*Dispositivo Movil*/
@media(min-width: 480px){
	.info-pantalones{
		width: 40%;
	}
}

/*Tablets*/
@media(min-width: 768px){
	.info-pantalones{
		width: 40%;
	}
}

/*Escritorio*/
@media(min-width: 1024px){
	.info-pantalones{
		width: auto;
	}
}
